.laranja {
    width: 200px;
    height: 200px;
    background-color: orange;
}

.azul {
    width: 200px;
    height: 200px;;
    background-color: blue;
}

.vermelho {
    width: 200px;
    height: 200px;
    background-color: red;
}

.preto {
    width: 200px;
    height: 200px;
    background-color: black;
}